<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738732608594-s2di9lbpbk84kguigtfc2g65dpktj120.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738732608594-s2di9lbpbk84kguigtfc2g65dpktj120</string>
	<key>API_KEY</key>
	<string>AIzaSyDw2UsyFkRWsyael-RLTcT0IKmITuLoekM</string>
	<key>GCM_SENDER_ID</key>
	<string>738732608594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppWithDocsAndMyValue</string>
	<key>PROJECT_ID</key>
	<string>flutter-with-docs</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-with-docs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738732608594:ios:6811b0515009912ecd238b</string>
</dict>
</plist>